.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  font-style: oblique;
  font-size: 24px;
  font-weight: 700;
}

.spinner {
  background: transparent;
  display: block;
  shape-rendering: auto;
}
